<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
            <h1>Insert_Accessrecord</h1>
        <table border="2px">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
                <th>Email</th>
            </tr>
        {% for ao in QSAO %}
           <tr>
            <td>{{ao.Name}}</td>
            <td>{{ao.Date}}</td>
            <td>{{ao.Author}}</td>
            <td>{{ao.Email}}</td>
           </tr>
        {% endfor %}

       
    </center>
</table>
</body>
</html>