<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <h1>Topic Tables Data</h1>
    <table border="2px">
        <tr>
            <th>Topic_name</th>
            <th>Name</th>
            <th>Url</th>
        </tr>
    {% for wo in QSWO %}
        <tr>
            <td>{{wo.Topic_name}}</td>
            <td>{{wo.Name}}</td>
            <td>{{wo.Url}}</td>
        </tr>
    {% endfor %}
</center>
    
    </table>
</body>
</html>